{% extends "base.html" %}

{% block title %}
Chat
{% endblock %}
{%block styles%}
<link rel="stylesheet" href="../static/styles/message.css">
{%endblock%}   


{% include './includes/nav.html' %}

{% block content %}
<div class="chat-container">
    <select id="recipient-select">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <div class="page">
    
    <div id="messages" class="clearfix"></div>

    <form id="chat-form">
        <input type="text" id="message-input" placeholder="Enter your message">
        <button type="submit">Send</button>
    </form>
</div>
</div>

<script>
    var currentUserId; // Declare the variable first
</script>

<script>
    // Assign Flask variable to JavaScript variable
    currentUserId = {{ current_user.id | tojson }};
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#chat-form').submit(function(e) {
            e.preventDefault();
            const message = $('#message-input').val();
            const recipient_id = $('#recipient-select').val();
            $.post('/send', { message: message, recipient_id: recipient_id }, function(response) {
                if(response.status === 'success') {
                    $('#message-input').val('');
                    fetchMessages();
                }
            });
        });

        function fetchMessages() {
    $.get('/receive', function(data) {
        $('#messages').empty();
        data.forEach(function(message) {
            var messageText = message.is_sender ? (message.text + ' : Me') : (message.sender_username + ' : ' + message.text);
            var messageClass = message.is_sender ? 'sender' : 'receiver';
            var displayMessage = '<div class="' + messageClass + '">' + messageText + '</div>';
            $('#messages').append(displayMessage);
        });
        scrollToBottom(); // Scroll to the bottom after loading messages
    });
}
function scrollToBottom() {
    var messages = document.getElementById("messages");
    messages.scrollTop = messages.scrollHeight;
}

document.addEventListener("DOMContentLoaded", scrollToBottom);

// Call this function on page load and after fetching new messages
document.addEventListener("DOMContentLoaded", scrollToBottom);


        setInterval(fetchMessages, 2000); // Fetch messages every 2 seconds
    });
</script>
{% endblock %}