{%extends "base.html"%}

{%block title%}
feed
{%endblock%}     

{%include './includes/nav.html'%}
{%block styles%}
<link rel="stylesheet" href="../static/styles/savegame.css">
{%endblock%} 


{% block content%}
{%if SaveGames %}
{%for SaveGame in SaveGames%}

<div class="card text-center">
    <div class="card-header">
        {{SaveGame.date}}
    </div>
    <div class="card-body">
        <div class="image">
            <img src="{{SaveGame.opponent_img}}" alt="{{SaveGame.opponent}}">
            <img src="{{SaveGame.opponent_img2}}" alt="{{SaveGame.opponent2}}">
        </div>
      <h5 class="card-title">{{SaveGame.opponent}}  {{SaveGame.opponent2}}</h5>
     
      <a href="{{ url_for('main.invite', save_game_date=SaveGame.date) }}" class="btn btn-primary">Invite friends</a>
      <a href="{{url_for('main.delete_savegame', save_game_date=SaveGame.date) }}" class="btn text-info">Delete</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>
{%endfor%}
{%endif%} 

{% if UserInvitations %}
    {% for UserInvitation in UserInvitations %}
    <div class="card text-center">
        <div class="card-header">
            {{UserInvitation.caption}}
            
        </div>
        <div class="card-body">
            <div class="image">
                <img src="{{UserInvitation.opponent_img}}" alt="{{UserInvitation.opponent}}">
                <img src="{{UserInvitation.opponent_img2}}" alt="{{UserInvitation.opponent2}}">
            </div>
          <h5 class="card-title">{{UserInvitation.opponent}}  {{UserInvitation.opponent2}}</h5>
        <h5>{{UserInvitation.date}}</h5> 
         

     <a href="{{url_for('main.delete_invitation', invitation_date=UserInvitation.date) }}" class="btn text-info">Dicline</a>
 

    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>
    {% endfor %}
{% endif %}
    
    


{%endblock%} 