{%extends "base.html"%}

{%block title%}

roster
{%endblock%}     

{%block styles%}
<link rel="stylesheet" href="../static/styles/roster.css">
{%endblock%}

{%include './includes/nav.html'%}

{% block content%}
<h1>Golden State Warriors Schedule 2023-24</h1>


{% if events %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">DATE</th>
        <th scope="col">OPPONENT</th>
        <th scope="col">RESULT</th>
        <th scope="col">W L</th>
        <th scope="col">HI POINTS</th>
        <th scope="col">HI REBOUNDS</th>
        <th scope="col">HI ASSISTS</th>
        

        
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr>
        <th scope="row">{{ event.formatted_date }}</th>
        <td> {{ event.opponent }} vs {{ event.opponent2 }}</td>
        <td><img style="width:40px; border-radius: 50%;" src="{{ event.opponent_img }}">{{event['homescore']}}  -  {{event['awayscore']}} <img style="width:40px; border-radius: 50%;" src="{{ event.opponent_img2 }}"></td>
        <td>{{ event.cumulative_wins }} - {{ event.cumulative_losses }}</td>
        <td>{{ event.high_points_name }} {{ event.high_points }}</td>
        <td>{{ event.high_rounds_name }} {{ event.high_rounds }}</td>
        <td>{{ event.high_assistance_name }}  {{ event.high_assistance }}</td>
         <td ><button><a href="{{ url_for('main.save_game', date=event.formatted_date) }}" class="btn my-btn">Save</a></button></td>
       
        
    </tr>
{% endfor %}

    </tbody>
</table>
{%endif%}
{%endblock%}