{%extends "base.html"%}

{%block title%}
feed
{%endblock%}     

{%include './includes/nav.html'%}
{%block styles%}
<link rel="stylesheet" href="../static/styles/feed.css">
{%endblock%} 


{% block content%}

{%if posts %}
{%for post in posts%}

<div class="kard">
  <div class="card">
    <img src="{{post.img_url}}" class="card_img" alt="{{post.caption}}">
    <div class="card_body">
      <h5 class="caption">{{post.caption}}</h5>
      <p class="location">{{post.location}}</p>
      <p class="time">{{post.author.username}} - {{ moment(post.date).fromNow() }}</p>
      {%if current_user.id == post.user_id %}
      <div class="edit">
      <a href="{{url_for('post.edit_post', post_id=post.id)}}" class="btn text-info">Edit</a>
      <a href="{{url_for('post.delete_post', post_id=post.id)}}" class="btn text-danger">Delete</a>
    </div>
      {%endif%}
    </div>
  </div>
</div>
{%endfor%}
{%endif%}

{%if Events%}
{%for event in Events%}



    <div class="cardd text-center">
        
            <div class="caption">
         
            </div>
          
           <div class="card-bodyy">
            <div class="imagee" >
                <img src="{{event.opponent_img}}" alt="{{event.opponent}}">
                <img src="{{event.opponent_img2}}" alt="{{event.opponent2}}">
              
            </div>
            <h5 class="card-title">{{event.opponent}}  vs  {{event.opponent2}}</h5>
          
     
        <h5 style="margin: 10px 0 ; ">{{event.date}}</h5> 
        <h4>{{event.caption}}</h4>
        <h4>{{event.place}}</h4>

        {%if event.user_id == current_user.id %}
        <div class="edit">
          <a href="{{ url_for('main.edit_event', event_id=event.id) }}" class="btn text-info">Edit</a>
          <a href="{{ url_for('main.delete_event', event_id=event.id) }}" class="btn text-danger">Delete</a>
      </div>
        {%endif%}

    </div>
    <div class="card-footer text-body-secondary">
      
    </div>
  </div>

    
{%endfor%}
{%endif%}
{%endblock%}